<!DOCTYPE html>
<html lang="en" @ViewData["AppHtmlAttr"]>
<head>
    <meta charset="utf-8" />
    <title>BoltaShop | @ViewData["Title"]</title>
    <link rel="icon" href="/img/logo-Bolta-icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="@ViewData["MetaDescription"]" />
    <meta name="author" content="@ViewData["MetaAuthor"]" />
    <meta name="keywords" content="@ViewData["MetaKeywords"]" />
    @RenderSection("MetaTag", required: false)

    <!-- ================== BEGIN core-css ================== -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="~/css/admin/vendor.min.css" rel="stylesheet" />
    <link href="~/css/admin/app.min.css" rel="stylesheet" />

    <!-- Syncfusion ASP.NET Core controls styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.2.43/fluent.css" />
    <!-- Toast -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <!-- SweetAlert2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Syncfusion ASP.NET Core controls scripts -->
    <script src="https://cdn.syncfusion.com/ej2/20.2.43/dist/ej2.min.js"></script>

    @RenderSection("Styles", required: false)
    <!-- ================== END core-css ================== -->
</head>
<body class="@ViewData["AppBodyClass"]">

    <!-- Add for Toast -->
    <partial name="_Notification" />
    

<!-- BEGIN #app -->
    <div id="app" class="app @(ViewData["AppSidebarNone"] == null ? "app-sidebar-fixed" : "") @(ViewData["AppHeaderNone"] == null ? "app-header-fixed" : "") @ViewData["AppClass"]">
        @if (ViewData["AppHeaderNone"] == null)
        {
            @*<partial name="_HeaderADMIN" />*@
        }

        @*@if (ViewData["AppTopMenu"] != null)
        {
        <partial name="_TopMenu" />
        }*@

        @if (ViewData["AppSidebarNone"] == null)
        {
           @* <partial name="_Sidebar" />*@
        }

        @if (ViewData["AppSidebarTwo"] != null)
        {
            @*<partial name="_SidebarRight" />*@
        }

        @if (ViewData["AppEmpty"] == null)
        {
            <div id="content" class="app-content @ViewData["AppContentClass"]" @ViewData["AppContentAttr"]>@RenderBody()</div>
        }
        else
        {
            @RenderBody()
        }

        @*<partial name="_ThemePanel" />*@

        @RenderSection("AppOutterContent", required: false)
    </div>
    <!-- END #app -->
    <!-- ================== BEGIN core-js ================== -->
    <script>
        window.paceOptions = {
            ajax: { ignoreURLs: ['mainHub', '__browserLink', 'browserLinkSignalR'], trackWebSockets: false }
        };
    </script>
    <script src="~/js/admin/vendor.min.js"></script>
    <script src="~/js/admin/app.min.js"></script>

    <!-- For Checkbox redirect -->
    <script>
        function RedirectToUrl(url) {
            console.log(url);
            window.location.href = url;
        }
    </script>
    <!-- For SweetAlert2 -->
    <script>
        $(function () {
            $('.deleteBtn').on('click', function (e) {
                e.preventDefault();
                var self = $(this);
                console.log(self.data('title'));
                Swal.fire({
                    title: 'Are you sure ???',
                    //text: "You won't be able to revert this!",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it !'
                }).then((result) => {
                    if (result.isConfirmed) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#leaveTypeId').val(id);
                        $('#deleteForm').submit();
                        //Swal.fire("Deleted!", "Your data has been deleted.", "success");
                    }
                });
            });
        });
    </script>

    <!-- ================== END core-js ================== -->
    @RenderSection("Scripts", required: false)

    <!-- Syncfusion ASP.NET Core Script Manager -->
    <ejs-scripts></ejs-scripts>
</body>
</html>