@page
@using Microsoft.AspNetCore.Mvc.Localization
@using No1.Enums
@using No1.Localization
@using No1.Models
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Alert
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Blockquote
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@model No1.Web.Pages.OpenWeather.IndexModel

@inject IPageLayout PageLayout
@inject IHtmlLocalizer<No1Resource> L
@{
    var title = L["OpenWeather"].Value;
    PageLayout.Content.Title = title;

    var openWeather = Model.OpenWeather;
    var iconUrl = "https://openweathermap.org/img/wn/";
}

@section scripts {
    <abp-script src="/Pages/OpenWeather/OpenWeather.js" />
}


<!-- OpenWeather -->
<div class="container">
    <div class="d-flex align-items-center mb-3">
        <div>
            <h1 class="page-header mb-0">@title</h1>
        </div>
        <div class="mt-3 ms-auto">
            <a id="Update" class="btn btn-primary btn-rounded px-4 rounded-pill"><i class="fa fa-plus fa-lg me-2 ms-n2 text-success-900"></i> @L["Update City"].Value</a>
        </div>
    </div>

    <div class="card mt-5" style="width: 18rem;">
        <img src="@iconUrl@(openWeather.Icon+ "@4x.png")" class="card-img-top" alt="Weather Icon">
        <div class="card-body">
            <h5 class="card-title">@openWeather.Name @Convert.ToInt32(openWeather.Temp)</h5>
            <p class="card-text"><b>@openWeather.Main - @openWeather.Description</b></p>
            <p class="card-text">FeelsLike: @Convert.ToInt32(openWeather.FeelsLike)</p>
            
            
            @* <a href="#" class="btn btn-primary">Go somewhere</a> *@
        </div>
    </div>
    
    
    

    <div class="center mt-5 text-center">
        @if (openWeather is not null)
        {
            <h2>@openWeather.Name @Convert.ToInt32(openWeather.Temp) °C</h2>
            <h4>
                <img src="@iconUrl@(openWeather.Icon + "@2x.png")" alt="Weather Icon"> @openWeather.Main - @openWeather.Description
            </h4>
            <p>FeelsLike: @Convert.ToInt32(openWeather.FeelsLike)</p>
            <br />
            <p>@openWeather.Latitude @openWeather.Longitude</p>
            <br />
            <p>Temp Max: @Math.Round(openWeather.TempMax, 1)</p>
            <p>Temp Min: @Math.Round(openWeather.TempMin, 1)</p>
        }
        else
        {
            <p>No weather data available !</p>
        }
    </div>
    
    <abp-card background="Dark">
        <abp-card-body>
            <abp-table id="OpenWeatherTable"></abp-table>
        </abp-card-body>
    </abp-card>

    <abp-card background="Light">
        <abp-card-body>
            <div id="OpenWeatherData" data-city-name="@Model.CityName" data-unit="@Model.Unit"></div>
        </abp-card-body>
    </abp-card>
</div>